<div class="modal fade" id="modalProduto" tabindex="-1" role="dialog" aria-labelledby="modalProdutoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="cancelaEditar();" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalProdutoLabel">
                    <span ng-if="!produto">Adicionar novo produto</span>
                    <span ng-if="produto">{{ produto.descricao }}</span>
                </h4>
            </div>
            <div class="modal-body">
               <form role="form">
                    <div class="form-group">
                        <label>Descrição</label>
                        <input class="form-control" placeholder="Informe o nome do descrição" ng-model="produto.descricao" />
                    </div>
                    <div class="form-group">
                        <label>Tipo</label>
                        <select class="form-control" id="tipo" placeholder="Selecione o tipo" ng-model="produto.tipo.codigo" ng-options="tipo.codigo as tipo.nome for tipo in tipos" >
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Unidade</label>
                        <select class="form-control" id="unidade" placeholder="Selecione a unidade" ng-model="produto.unidade.codigo" ng-options="unidade.codigo as unidade.nome for unidade in unidades" >
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Valor</label>                        
                        <input class="form-control" placeholder="Informe o valor" ng-model="produto.valor" />
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelaEditar();">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>