<div class="row"> 
	<div class="col-md-6 col-sm-12 col-xs-12">                     
	    	<div class="panel panel-default">
    		<div class="panel-heading">
        		Totalizadores
    		</div>
    		<div class="panel-body">
        		<div id="hero-bar-totalizadores"></div>
    		</div>
		</div>            
	</div>
	<div class="col-md-6 col-sm-12 col-xs-12">                     
	    	<div class="panel panel-default">
    		<div class="panel-heading">
        		Vendas
    		</div>
    		<div class="panel-body">
        		<div id="hero-area-vendas"></div>
    		</div>
		</div>            
	</div>
</div>