<div class="panel-body">
    <div ng-include="'views/widgets/breadcrumbs.html'"></div>
		<form role="form">
	        <div class="form-group">
	            <label>Nome</label>
	            <input class="form-control" placeholder="Informe o nome do usuário" ng-model="usuario.nome" />
	        </div>
	        <div class="form-group">
	            <label>E-mail</label>
	            <input class="form-control" placeholder="Informe o e-mail do usuário" ng-model="usuario.email" />
	        </div>
	        <div class="form-group">
	            <label>Telefone</label>
	            <input class="form-control" placeholder="Informe o telefone do usuário" ng-model="usuario.telefone" />
	        </div>
	        <div class="form-group">
	            <label>Cargo</label>                        
	            <select class="form-control" id="tipo" placeholder="Selecione o Cargo" ng-model="usuario.cargo.codigo" ng-options=" cargo.codigo as cargo.nome for cargo in cargos" >
	            </select>
	        </div>
	        <div class="form-group">
	            <label>Login</label>
	            <input class="form-control" placeholder="Informe o login do usuário" ng-model="usuario.login" />
	        </div>
	    </form>
	</div>
</div>
<div class="modal-footer">
    <a class="btn btn-default" href="#equipe" role="button"> Cancelar</a>
	<a class="btn btn-primary" href="#equipe" ng-click="save()" role="button"> Salvar</a>
</div>